---
http_interactions:
- request:
    method: post
    uri: https://api.liquidvoting.io/
    body:
      encoding: UTF-8
      string: '{"query":"mutation LiquidVotingApi__Client__CreateVoteMutation($voter_email:
        String, $proposal_url: String!, $yes: Boolean!) {\n  createVote(participantEmail:
        $voter_email, proposalUrl: $proposal_url, yes: $yes) {\n    participant {\n      email\n    }\n    yes\n    votingResult
        {\n      yes\n      no\n    }\n  }\n}","variables":{"yes":true,"proposal_url":"http://proposals.com/1","voter_email":"alice@test.com"},"operationName":"LiquidVotingApi__Client__CreateVoteMutation"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 62309201-d2f0-407f-875b-9f836f94f2ca
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"createVote":{"participant":{"email":"alice@test.com"},"votingResult":{"no":0,"yes":1},"yes":true}}}'
  recorded_at: Mon, 25 May 2020 16:49:34 GMT
recorded_with: VCR 5.1.0
