---
http_interactions:
- request:
    method: post
    uri: https://api.liquidvoting.io/
    body:
      encoding: UTF-8
      string: '{"query":"mutation LiquidVotingApi__Client__CreateDelegationMutation($proposal_url:
        String!, $delegator_email: String!, $delegate_email: String!) {\n  createDelegation(proposalUrl:
        $proposal_url, delegatorEmail: $delegator_email, delegateEmail: $delegate_email)
        {\n    id\n  }\n}","variables":{"proposal_url":"http://proposals.com/1","delegator_email":"bob@test.com","delegate_email":"alice@test.com"},"operationName":"LiquidVotingApi__Client__CreateDelegationMutation"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer 62309201-d2f0-407f-875b-9f836f94f2ca
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"createDelegation":{"id":"21"}}}'
  recorded_at: Mon, 01 Jun 2020 19:03:37 GMT
recorded_with: VCR 5.1.0
