---
http_interactions:
- request:
    method: post
    uri: https://api.liquidvoting.io/
    body:
      encoding: UTF-8
      string: '{"query":"mutation LiquidVotingApi__Client__DeleteVoteMutation($voter_email:
        String, $proposal_url: String!) {\n  deleteVote(participantEmail: $voter_email,
        proposalUrl: $proposal_url) {\n    participant {\n      email\n    }\n    votingResult
        {\n      in_favor\n      against\n    }\n  }\n}","variables":{"proposal_url":"http://proposals.com/1","voter_email":"alice@test.com"},"operationName":"LiquidVotingApi__Client__DeleteVoteMutation"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer bc7eeccb-5e10-4004-8bfb-7fc68536bbd7
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"data":{"deleteVote":{"participant":{"email":"alice@test.com"},"votingResult":{"against":0,"in_favor":0}}}}'
  recorded_at: Wed, 03 Jun 2020 13:47:34 GMT
recorded_with: VCR 5.1.0
